//* 1. react-pagination
// .pagination-container {
//   display: flex;
//   justify-content: center;
//   margin-top: 3.75%;
//   list-style-type: none;

//   .pagination-item {
//     padding: 0 12px;
//     height: 32px;
//     text-align: center;
//     margin: auto 4px;
//     color: rgba(0, 0, 0, 0.87);
//     display: flex;
//     box-sizing: border-box;
//     align-items: center;
//     letter-spacing: 0.01071em;
//     border-radius: 16px;
//     line-height: 1.43;
//     font-size: 13px;
//     min-width: 32px;

//     &.dots:hover {
//       background-color: transparent;
//       cursor: default;
//     }
//     &:hover {
//       background-color: rgba(0, 0, 0, 0.04);
//       cursor: pointer;
//     }

//     &.selected {
//       background-color: rgba(0, 0, 0, 0.08);
//     }

//     .arrow {
//       &::before {
//         position: relative;
//         /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
//         content: "";
//         /* By using an em scale, the arrows will size with the font */
//         display: inline-block;
//         width: 0.4em;
//         height: 0.4em;
//         border-right: 0.12em solid rgba(0, 0, 0, 0.87);
//         border-top: 0.12em solid rgba(0, 0, 0, 0.87);
//       }

//       &.left {
//         transform: rotate(-135deg) translate(-50%);
//       }

//       &.right {
//         transform: rotate(45deg);
//       }
//     }

//     &.disabled {
//       pointer-events: none;

//       .arrow::before {
//         border-right: 0.12em solid rgba(0, 0, 0, 0.43);
//         border-top: 0.12em solid rgba(0, 0, 0, 0.43);
//       }

//       &:hover {
//         background-color: transparent;
//         cursor: default;
//       }
//     }
//   }
// }
//* 1. react-pagination

//* 2. react-paginate
ul,
ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5% !important;
  user-select: none;

  & > li.disabled {
    a {
      cursor: default;
    }
  }
}

ul.list-group {
  flex-direction: row;
}

li {
  a {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  &.selected {
    a {
      background-color: #0d6efd;
      color: #ffffff !important;
    }
  }

  &.previous,
  &.next {
    a {
      color: cornflowerblue;
    }
  }

  &.previous.disabled,
  &.next.disabled {
    a {
      color: gray;
    }
  }
}
//* 2. react-paginate
